@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base body styles */
body {
  background: black;
  margin: 0;
  padding: 0;
}

/* Font Face Definitions */
@font-face {
  font-family: 'RetroPixel';
  src: url('/assets/fronts/retro-pixel-arcade.otf.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SupercellMagic';
  src: url('/assets/fronts/supercell-magic_0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Custom game UI styles */
@layer components {
  /* CSS Custom Properties for reusable values */
  :root {
    --pixel-container-progress-fill-clip-path: polygon(
      calc(100% - 3px) 0px,
      calc(100% - 3px) 3px,
      calc(100% - 0px) 3px,
      calc(100% - 0px) calc(100% - 3px),
      calc(100% - 3px) calc(100% - 3px),
      calc(100% - 3px) calc(100% - 0px),
      3px calc(100% - 0px),
      3px calc(100% - 3px),
      0px calc(100% - 3px),
      0px 3px,
      3px 3px,
      3px 0px
    );
    --pixel-container-clip-path: polygon(
      calc(100% - 9px) 0px,
      calc(100% - 9px) 3px,
      calc(100% - 6px) 3px,
      calc(100% - 6px) 6px,
      calc(100% - 3px) 6px,
      calc(100% - 3px) 9px,
      calc(100% - 0px) 9px,
      calc(100% - 0px) calc(100% - 9px),
      calc(100% - 3px) calc(100% - 9px),
      calc(100% - 3px) calc(100% - 6px),
      calc(100% - 6px) calc(100% - 6px),
      calc(100% - 6px) calc(100% - 3px),
      calc(100% - 9px) calc(100% - 3px),
      calc(100% - 9px) calc(100% - 0px),
      9px calc(100% - 0px),
      9px calc(100% - 3px),
      6px calc(100% - 3px),
      6px calc(100% - 6px),
      3px calc(100% - 6px),
      3px calc(100% - 9px),
      0px calc(100% - 9px),
      0px calc(100% - 9px),
      0px 9px,
      3px 9px,
      3px 6px,
      6px 6px,
      6px 3px,
      9px 3px,
      9px 0px
    );
    --pixel-container-clickable-clip-path: polygon(
      calc(100% - 9px) 0px,
      calc(100% - 9px) 3px,
      calc(100% - 6px) 3px,
      calc(100% - 6px) 6px,
      calc(100% - 3px) 6px,
      calc(100% - 3px) 9px,
      calc(100% - 0px) 9px,
      calc(100% - 0px) calc(100% - 3px),
      calc(100% - 3px) calc(100% - 3px),
      calc(100% - 3px) calc(100% - 0px),
      calc(100% - 6px) calc(100% - 0px),
      calc(100% - 6px) calc(100% + 3px),
      calc(100% - 9px) calc(100% + 3px),
      calc(100% - 9px) calc(100% + 6px),
      9px calc(100% + 6px),
      9px calc(100% + 3px),
      6px calc(100% + 3px),
      6px calc(100% + 0px),
      3px calc(100% + 0px),
      3px calc(100% - 3px),
      0px calc(100% - 3px),
      0px calc(100% - 3px),
      0px 9px,
      3px 9px,
      3px 6px,
      6px 6px,
      6px 3px,
      9px 3px,
      9px 0px
    );
    --pixel-container-slot-clip-path: polygon(
      calc(100% - 6px) 0px,
      calc(100% - 6px) 3px,
      calc(100% - 3px) 3px,
      calc(100% - 3px) 6px,
      calc(100% - 0px) 6px,
      calc(100% - 0px) calc(100% - 6px),
      calc(100% - 3px) calc(100% - 6px),
      calc(100% - 3px) calc(100% - 3px),
      calc(100% - 6px) calc(100% - 3px),
      calc(100% - 6px) calc(100% - 0px),
      6px calc(100% - 0px),
      6px calc(100% - 3px),
      3px calc(100% - 3px),
      3px calc(100% - 6px),
      0px calc(100% - 6px),
      0px calc(100% - 6px),
      0px 6px,
      3px 6px,
      3px 3px,
      6px 3px,
      6px 0px
    );
  }
}
